html, body {
  overflow: hidden;
  touch-action: manipulation; // Disable double-tap to zoom
}

.app {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  user-select: none;
  transition: filter .5s ease-in;

  &:fullscreen {
    background: $body-bg;
  }

  &.theme-loading {
    filter: grayscale(100%);
  }
}

.app .app-header {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  border-bottom: $border-width $border-color solid;
  padding: 20px 15px;
}

.app .app-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 2rem;
  padding: 0;
  margin: ($grid-gutter-width / 2) 0;

  @include flex-vertical-align();
}

.app .app-footer {
  display: flex;
  flex-shrink: 0;

  .btn {
    white-space: nowrap;
  }
}
