html, body {
  overflow: hidden;
  touch-action: manipulation; // Disable double-tap to zoom
}

.app {
  position: absolute;
  width: 100%;
  user-select: none;
  transition: filter .5s ease-in;

  &:fullscreen {
    background: $body-bg;
  }

  &.theme-loading {
    filter: grayscale(100%);
  }

  @include breakpoint-up-to-md {
    font-size: $font-size-base-lg;
  }
}

.app .app-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

.app .app-body .app-header {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  border-bottom: $border-width $border-color solid;
  padding: $grid-gutter-width;

  h1 {
    font-size: 18pt;
    font-weight: 400;
    margin: 0;
  }

  @include breakpoint-down-to-sm {
    padding: $grid-gutter-width / 2;
  }
}

.app .app-body .app-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 2rem;
  padding: 0;
  margin: 40px 0;

  @include flex-vertical-align();

  @include breakpoint-down-to-sm {
    margin: 20px 0;
  }
}

.app .app-body .app-footer {
  flex-shrink: 0;
}
