.beta-badge {
  position: fixed;
  background: $warning;
  color: $body-color;
  top: 10px;
  left: -65px;
  width: 180px;
  text-align: center;
  letter-spacing: 1px;
  z-index: $zindex-tooltip;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  transform: rotate(-45deg);

  &::after {
    content: "beta";
  }

  @include breakpoint-down-to-sm {
    top: 5px;
    left: -70px;
  }
}
