.beta-badge {
  position: fixed;
  background: $warning;
  color: $body-color;
  top: 20px;
  left: -60px;
  width: 200px;
  text-align: center;
  letter-spacing: 1px;
  z-index: $zindex-tooltip;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  transform: rotate(-45deg);

  &::after {
    content: "beta";
  }
}
