.btn.btn-card {
  display: flex;
  flex-direction: column;
  color: $body-color;
  border-radius: 3%;
  overflow: hidden;
  padding: 0;
  height: 100%;
  width: 100%;
  border: $border-width $border-color solid;
  text-align: left;
}

.btn.btn-rounded {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 42px;
  height: 42px;
}
