.btn-card {
  @extend .shadow-none;
  color: $body-color;
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 100%;
  width: 100%;
  border: $border-width $border-color solid;
  text-align: left;
}

.btn.btn-flag {
  box-shadow: none;

  .flag-icon {
    width: 4rem;
    height: 4rem;
  }
}

.btn.btn-rounded {
  width: 42px;
  height: 42px;
  border-radius: 42px;
}

@include breakpoint-up-to-md {
  .btn {
    font-size: $font-size-base-lg;

    &.btn-rounded {
      width: 48px;
      height: 48px;
      border-radius: 48px;
    }
  }
}
