button.card {
  color: $body-color;
  outline: none;
  padding: 0;
  text-align: left;
  white-space: normal;

  .card-body {
    width: 100%
  }
}

.btn.btn-flag {
  box-shadow: none;

  .flag-icon {
    width: 5rem;
    height: 5rem;
  }
}
