button.card {
  color: $body-color;
  outline: none;
  padding: 0;
  text-align: left;
  white-space: normal;

  .card-body {
    width: 100%
  }
}

.btn.btn-flag {
  box-shadow: none;

  .flag-icon {
    width: 4rem;
    height: 4rem;
  }
}

.btn.btn-rounded {
  width: 42px;
  height: 42px;
  border-radius: 42px;
}

@include breakpoint-up-to-md {
  .btn {
    font-size: $font-size-base-lg;

    &.btn-rounded {
      width: 48px;
      height: 48px;
      border-radius: 48px;
    }
  }
}
