.checkbox {
  display: inline-flex;
  position: relative;
  align-items: center;
  user-select: none;
  margin: 0;

  input[type=checkbox] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;

    + .check-mark {
      background-color: $white;
      border: .125rem solid darken($gray-500, 10%);
      cursor: pointer;
      height: 1.375rem;
      width: 1.375rem;
      margin-right: 1rem;
      position: relative;
      border-radius: .125rem;
      transition: all 0.2s ease;

      &::after {
        content: "";
        position: absolute;
        display: none;
        left: .3125rem;
        top: -.05rem;
        width: .5rem;
        height: 1rem;
        border: solid $white;
        border-width: 0 .125rem .125rem 0;
        transform: rotate(45deg);
      }
    }

    &:focus + .check-mark {
      box-shadow: 0 0 0 .2rem rgba(darken($gray-500, 10%), .25);
    }

    &:checked + .check-mark {
      background: darken($gray-500, 10%);

      &::after {
        display: block;
      }
    }

    &:disabled + .check-mark {
      cursor: not-allowed;
    }
  }
}

@include checkbox-variant("danger", $danger);
@include checkbox-variant("info", $info);
@include checkbox-variant("primary", $primary);
@include checkbox-variant("success", $success);
@include checkbox-variant("warning", $warning);
