.menu-board {
  background-color: $black;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  transition: background-color 0.5s ease;

  &::before, &::after { // Vertical centering
    content: '';
    margin: auto;
  }

  &.loading {
    background-color: $white;
  }
}

.menu-board-content {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
