.menu-board {
  background-color: $black;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  transition: background-color 0.5s ease;

  @include flex-vertical-align();

  &.loading {
    background-color: $white;
  }

  .menu-board-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    padding: 30px;
    z-index: $zindex-fixed;
    width: 100vw;

    h1 {
      color: $white;
      font-size: 18pt;
      font-weight: 400;
      margin: 0;
    }
  }

  .menu-board-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .menu-board-content {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px $black;
    padding: 0 128px;

    h2 {
      color: $gray-200;
      font-size: 42pt;
      font-weight: 900;
    }

    h3 {
      color: $success;
      font-size: 72pt;
      font-weight: 900;

      sup {
        font-size: 36pt;
      }
    }
  }
}
