$themes: (
  "default": $pink,
  "filazero": $filazero,
  "green": $green,
  "blue": $blue,
  "purple": $purple,
  "dark": $dark,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow
);

@each $name, $color in $themes {
  .theme-#{$name} {
    ::selection {
      color: $white;
      background: $color;
    }

    .btn-primary {
      @include button-variant($color, $color);
    }

    .btn-outline-primary {
      @include button-outline-variant($color);
    }

    .checkbox-primary {
      @include checkbox-variant($color);
    }

    .radio-primary {
      @include radio-variant($color);
    }

    .text-primary {
      color: $color !important;
    }

    .bg-primary {
      background: $color !important;
      color: color-yiq($color); // contrast
    }
  }
}
