$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$pink: #fc1460;
$filazero: #530f6d;
$green: #16a085;
$blue: #2980b9;
$purple: #8e44ad;
$dark: #2c3e50;
$red: #c0392b;
$orange: #d35400;
$yellow: #f39c12;

$primary: $gray-600;
$secondary: $gray-100;
$info: $blue;
$success: $green;
$danger: $red;
$warning: $yellow;
$light: $white;

$theme-colors: (
  "primary": $primary
);

$body-color: $gray-700;

$font-family-base: 'Maven Pro', sans-serif;
$font-size-base: 1rem;
$font-weight-base: 300;

$link-hover-decoration: none;

$border-color: $gray-200;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$input-padding-y: 1rem;
$input-padding-x: 1rem;
$input-border-color: $gray-400;
$input-btn-padding-y: .75rem;
$input-btn-padding-x: 1.25rem;
$input-group-addon-color: $gray-500;
$input-group-addon-bg: $white;
$input-placeholder-color: $gray-500;
