$font-family-base: 'Maven Pro', sans-serif, Arial;

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$primary: #fc1460;
$secondary: $gray-100;
$info: #3ca2e0;
$success: #2ecc71;
$danger: #fc1460;
$warning: #f39c12;
$light: $white;

$body-color: $gray-700;

$font-size-base: 1.5rem;
$font-weight-base: 300;
