@mixin checkbox-variant($color) {
  input[type=checkbox] {
    + .check-mark {
      border-color: $color;
    }

    &:focus + .check-mark {
      box-shadow: 0 0 0 .2rem rgba($color, .25);
    }

    &:checked + .check-mark {
      background: $color;
    }

    &:checked:disabled + .check-mark {
      background: lighten($color, 20%);
      border-color: lighten($color, 20%);
    }
  }
}
